.kalender {
  margin-left: calc(var(--a-spacing-2) * -1);
  width: calc(var(--a-spacing-4) + 100%);
}

.kalenderUkedagKontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--a-spacing-4);
  justify-items: center;
  margin-bottom: var(--a-spacing-4);
}

.kalenderDatoKontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--a-spacing-8) var(--a-spacing-4);
  justify-items: center;
}

.helg {
  color: var(--a-gray-400);
}

.kalenderUkedag {
  font-size: var(--a-font-size-small);
}

.kalenderDag {
  position: relative;
}

.kalenderDato {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--a-bg-subtle);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: var(--a-font-size-medium);
  cursor: pointer;
  border: 0;
  z-index: 10;
}

.kalenderDato:hover {
  background-color: var(--a-gray-200);
}

.kalenderDato p {
  margin-left: 3px;
}

.kalenderDatoMedAktivitet {
  background-color: var(--a-blue-200);
}

.kalenderDatoMedAktivitet:hover {
  background-color: var(--a-blue-300);
}

.kalenderDatoAktivitet {
  position: absolute;
  top: 15px;
  left: 1px;
  display: flex;
  border-radius: 0 0 5px 5px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--a-surface-selected);
  width: 34px;
  height: 40px;
  font-size: var(--a-font-size-small);
  color: var(--a-text-subtle);
  cursor: pointer;
  z-index: 0;
}

.timeTypeKontainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--a-spacing-6);
  min-width: 450px;
}

.timeType {
  border: 0;
  width: 50%;
  cursor: pointer;
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin: 0 calc(var(--a-spacing-1) * -1) var(--a-spacing-2);
  background-color: var(--a-blue-200);
  border-radius: var(--a-spacing-6);
}

.aktivitetTypeArbeid {
  background-color: var(--a-blue-200);
}

.aktivitetTypeArbeid:hover {
  background-color: var(--a-blue-300);
}

.aktivitetTypeSyk {
  background-color: var(--a-orange-200);
}

.aktivitetTypeSyk:hover {
  background-color: var(--a-orange-300);
}

.aktivitetTypeFerie {
  background-color: var(--a-green-200);
}

.aktivitetTypeFerie:hover {
  background-color: var(--a-green-300);
}

.knappKontainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--a-spacing-2);
  margin-top: var(--a-spacing-8);
}

@media screen and (min-width: 768px) {
  .kalender {
    margin-left: calc(var(--a-spacing-6) * -1);
    width: calc(var(--a-spacing-12) + 100%);
  }

  .kalenderUkedag {
    font-size: var(--a-font-size-medium);
  }

  .kalenderDatoKontainer {
    gap: var(--a-spacing-10) var(--a-spacing-4);
  }

  .kalenderDato {
    width: 60px;
    height: 60px;
    font-size: var(--a-font-size-large);
  }

  .kalenderDatoAktivitet {
    top: 40px;
    left: 3px;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    font-size: var(--a-font-size-medium);
    width: 56px;
    height: 50px;
  }
}
