.kalender {
  margin-left: calc(var(--a-spacing-2) * -1);
  padding-bottom: var(--a-spacing-8);
  width: calc(var(--a-spacing-4) + 100%);
}

.readonly {
  pointer-events: none;
}

.header {
  display: grid;
}

.statusTag {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
}

.headerPeriodeDetaljer {
  flex-direction: column;
}

.redigeringsAlternativer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ukedagKontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--a-spacing-4);
  justify-items: center;
  margin: var(--a-spacing-4) 0 var(--a-spacing-4);
}

.dagKontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--a-spacing-4);
  justify-items: center;
}

.harNoenAktivitet {
  gap: var(--a-spacing-8) var(--a-spacing-2);
}

.ukedag {
  font-size: var(--a-font-size-small);
}

.datoKontainer {
  position: relative;
}

.dato {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--a-bg-subtle);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: var(--a-font-size-medium);
  cursor: pointer;
  border: 0;
  z-index: 10;
}

.dato p {
  margin-left: 3px;
}

.dato:hover {
  background-color: var(--a-gray-200);
}

.datoMedAktivitet {
  position: absolute;
  top: 15px;
  left: 1px;
  display: flex;
  border-radius: 0 0 5px 5px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--a-surface-selected);
  width: 34px;
  height: 40px;
  font-size: var(--a-font-size-small);
  color: var(--a-text-subtle);
  z-index: 0;
}

.datoMedAktivitetAktivitetSykdom {
  background-color: var(--a-surface-warning-subtle);
}

.datoMedAktivitetAktivitetFerie {
  background-color: var(--a-surface-success-subtle);
}

.timeTypeKontainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--a-spacing-6);
  min-width: 450px;
}

.ikkeRapporteringspliktig {
  background-color: transparent;
  cursor: default;
  pointer-events: none;
  pointer-events: none;
}

.datoMedAktivitetSykdom {
  background-color: var(--a-surface-warning-subtle);
}

.datoMedAktivitetFerie {
  background-color: var(--a-surface-success-subtle);
}

.arbeid {
  background-color: var(--a-blue-200);
}

.arbeid:hover {
  background-color: var(--a-blue-300);
}

.sykdom {
  background-color: var(--a-orange-200);
}

.sykdom:hover {
  background-color: var(--a-orange-300);
}

.timerSykdom {
  background-color: var(--a-orange-50);
}

.ferie {
  background-color: var(--a-green-200);
}

.ferie:hover {
  background-color: var(--a-green-300);
}

.timerFerie {
  background-color: var(--a-green-50);
}

.knappKontainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--a-spacing-2);
  margin-top: var(--a-spacing-8);
}

.periodenHarMinstEnAktivitet {
  gap: var(--a-spacing-10) var(--a-spacing-4);
}

@media screen and (min-width: 768px) {
  .headerKontainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .kalender {
    margin-left: calc(var(--a-spacing-6) * -1);
    width: calc(var(--a-spacing-12) + 100%);
  }

  .ukedag {
    font-size: var(--a-font-size-medium);
  }

  .datoKontainer {
    display: flex;
    align-items: center;
  }

  .redigeringsAlternativer {
    flex-direction: column;
    align-items: flex-end;
  }

  .redigeringsAlternativer a {
    margin-bottom: var(--a-spacing-4);
  }

  .dato {
    width: 60px;
    height: 60px;
    font-size: var(--a-font-size-large);
  }

  .datoMedAktivitet {
    top: 40px;
    left: 3px;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    font-size: var(--a-font-size-medium);
    width: 56px;
    height: 50px;
  }
}
