.kalender {
  margin-left: calc(var(--a-spacing-2) * -1);
  padding-bottom: var(--a-spacing-8);
  width: calc(var(--a-spacing-4) + 100%);
}

.headerKontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.redigeringsAlternativer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: var(--a-font-weight-bold);
  margin: 0;
}

.header span {
  color: var(--a-text-subtle);
  font-size: var(--a-font-size-medium);
  font-weight: var(--a-font-weight-regular);
}

.ukerKontainer {
  display: grid;
  gap: var(--a-spacing-10);
  grid-auto-flow: row;
  transition: all ease-in-out 200ms;
}

.ukeRadKontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--a-spacing-4);
  justify-items: center;
}

.ukedagKontainer {
  display: grid;
  margin-top: var(--a-spacing-4);
  gap: var(--a-spacing-4);
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin-bottom: var(--a-spacing-2);
}

.ukedag {
  font-size: var(--a-font-size-small);
}

.datoKontainer {
  position: relative;
}

.dato {
  position: relative;
  display: flex;
  padding-right: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--a-bg-subtle);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: var(--a-font-size-medium);
  line-height: var(--a-font-size-medium);
  cursor: pointer;
  border: 0;
  z-index: 10;
}

.readonly {
  pointer-events: none;
  padding-left: 3px;
}

.dato:hover {
  background-color: var(--a-gray-200);
}

.datoMedAktivitet {
  position: absolute;
  top: 15px;
  left: 1px;
  display: flex;
  border-radius: 0 0 5px 5px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--a-surface-selected);
  width: 34px;
  height: 40px;
  font-size: var(--a-font-size-small);
  color: var(--a-text-subtle);
  z-index: 0;
}

.datoMedAktivitetAktivitetSykdom {
  background-color: var(--a-surface-warning-subtle);
}

.datoMedAktivitetAktivitetFerie {
  background-color: var(--a-surface-success-subtle);
}

.timeTypeKontainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--a-spacing-6);
  min-width: 450px;
}

.ikkeRapporteringspliktig {
  background-color: transparent;
  cursor: not-allowed;
}

.ikkeRapporteringspliktig:hover {
  background-color: transparent;
}

.datoMedAktivitetSykdom {
  background-color: var(--a-orange-50);
}

.datoMedAktivitetFerie {
  background-color: var(--a-green-50);
}

.datoMedAktivitetUtdanning {
  background-color: var(--a-purple-50);
}

.datoMedAktivitetArbeidOgUtdanning {
  background-color: var(--a-blue-50);
}

.arbeid, .arbeidOgUtdanning, .arbeid.arbeidOgUtdanning {
  background-color: var(--a-blue-200);
}

.arbeid:hover, .arbeidOgUtdanning:hover, .arbeid.arbeid.arbeidOgUtdanning:hover {
  background-color: var(--a-blue-300);
}

.sykOgUtdanning::after,
.fravaerOgUtdanning::after,
.arbeidOgUtdanning::after {
  content: '';
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--a-purple-200);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.arbeidOgUtdanning:hover::after {
  background-color: var(--a-purple-300);
}

.utdanning {
  background-color: var(--a-purple-200);
}

.utdanning:hover {
  background-color: var(--a-purple-300);
}

.timerUtdanning {
  background-color: var(--a-purple-50);
}

.timerSykdom {
  background-color: var(--a-orange-50);
}

.ferie, .fravaer {
  background-color: var(--a-green-200);
}

.ferie:hover, .fravaer:hover {
  background-color: var(--a-green-300);
}

.timerFerie, .timerFravaer {
  background-color: var(--a-green-50);
}

.sykdom, .sykOgFravaer {
  background-color: var(--a-orange-200);
}

.sykdom:hover, .sykOgFravaer:hover {
  background-color: var(--a-orange-300);
}

.knappKontainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--a-spacing-2);
  margin-top: var(--a-spacing-8);
}

@media screen and (min-width: 768px) {
  /* .kalender {
    margin-left: calc(var(--a-spacing-6) * -1);
    width: calc(var(--a-spacing-12) + 100%);
  } */

  .ukedag {
    font-size: var(--a-font-size-medium);
  }

  .datoKontainer {
    display: flex;
    align-items: center;
  }

  .header {
    font-size: var(--a-font-size-heading-medium);
  }

  .redigeringsAlternativer {
    flex-direction: column;
    align-items: flex-end;
  }

  .redigeringsAlternativer a {
    margin-bottom: var(--a-spacing-4);
  }

  .dato {
    width: 60px;
    height: 60px;
    padding-right: 2px;
    font-size: var(--a-font-size-large);
    line-height: var(--a-font-size-large);
  }

  .readonly {
    padding-left: 4px;
  }

  .datoMedAktivitet {
    top: 40px;
    left: 3px;
    border-radius: 0 0 10px 10px;
    padding-top: 15px;
    font-size: var(--a-font-size-medium);
    width: 56px;
    height: 50px;
  }
}
