:root {
  --dato-strl: 33px;
}

.kalender {
  margin-left: calc(var(--ax-space-8) * -1);
  padding-bottom: var(--ax-space-32);
  width: calc(var(--ax-space-16) + 100%);
}

.kalender[aria-disabled="true"] {
  pointer-events: none;
}

.headerKontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.redigeringsAlternativer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  font-weight: var(--ax-font-weight-bold);
  margin: 0;
}

.header span {
  color: var(--ax-text-neutral-subtle);
  font-size: var(--ax-font-size-medium);
  font-weight: var(--ax-font-weight-regular);
}

.ukerKontainer {
  display: grid;
  gap: var(--ax-space-40);
  grid-auto-flow: row;
  transition: all ease-in-out 200ms;
}

.ukeRadKontainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--ax-space-8);
  justify-items: center;
}

.ukedagKontainer {
  display: grid;
  margin-top: var(--ax-space-16);
  gap: var(--ax-space-8);
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin-bottom: var(--ax-space-8);
}

.ukedag {
  font-size: var(--ax-font-size-small);
}

.datoKontainer {
  position: relative;
}

.dato {
  position: relative;
  display: flex;
  padding-right: 4px;
  padding-left: 6px;
  justify-content: center;
  align-items: center;
  background-color: var(--ax-bg-neutral-moderate);
  width: var(--dato-strl);
  height: var(--dato-strl);
  border-radius: 50%;
  font-size: var(--ax-font-size-medium);
  line-height: var(--ax-font-size-medium);
  cursor: pointer;
  z-index: 10;
  border: 1px solid transparent;
}

.readonly {
  pointer-events: none;
  padding-left: 3px;
}

.dato:hover {
  background-color: var(--ax-neutral-300);
}

.datoMedAktivitet {
  position: absolute;
  top: calc(var(--dato-strl) * 0.45);
  left: calc((calc(var(--dato-strl)) - calc(var(--dato-strl) - 1px)) / 2);
  display: flex;
  border-radius: 0 0 5px 5px;
  padding-top: calc(var(--dato-strl) * 0.6);
  justify-content: center;
  align-items: center;
  background-color: var(--ax-bg-accent-soft);
  width: calc(var(--dato-strl) - 1px);
  height: calc(calc(var(--dato-strl) * 1.15));
  font-size: var(--ax-font-size-small);
  color: var(--ax-text-neutral-subtle);
  z-index: 0;
}

.datoMedAktivitetAktivitetSykdom {
  background-color: var(--ax-bg-warning-soft);
}

.datoMedAktivitetAktivitetFerie {
  background-color: var(--ax-bg-success-soft);
}

.timeTypeKontainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--ax-space-24);
  min-width: 450px;
}

.ikkeRapporteringspliktig {
  background-color: transparent;
  cursor: not-allowed;
}

.ikkeRapporteringspliktig:hover {
  background-color: transparent;
}

.datoMedAktivitetSykdom {
  background-color: var(--ax-warning-100);
  border-color: var(--ax-warning-100);
}

.datoMedAktivitetFerie {
  background-color: var(--ax-success-100);
  border-color: var(--ax-success-100);
}

.datoMedAktivitetUtdanning {
  background-color: var(--ax-meta-purple-100);
  border-color: var(--ax-meta-purple-100);
}

.datoMedAktivitetArbeidOgUtdanning {
  background-color: var(--ax-accent-100);
  border-color: var(--ax-accent-100);
}

.arbeid,
.arbeidOgUtdanning,
.arbeid.arbeidOgUtdanning {
  background-color: var(--aktivitetFargeArbeid);
  border-color: var(--aktivitetFargeArbeid);
}

.arbeid:hover,
.arbeidOgUtdanning:hover,
.arbeid.arbeid.arbeidOgUtdanning:hover {
  background-color: var(--ax-accent-400);
  border-color: var(--ax-accent-400);
}

.sykOgUtdanning::after,
.fravaerOgUtdanning::after,
.arbeidOgUtdanning::after {
  content: "";
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--aktivitetFargeUtdanning);
  border: 1px solid var(--aktivitetFargeUtdanning);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.arbeidOgUtdanning:hover::after,
.fravaerOgUtdanning:hover::after,
.sykOgUtdanning:hover::after {
  background-color: var(--ax-meta-purple-400);
  border-color: var(--ax-meta-purple-400);
}

.sykFravaerOgUtdanning::before {
  content: "";
  position: absolute;
  left: -12.5%;
  top: -12.5%;
  background-color: var(--aktivitetFargeUtdanning);
  border: 1px solid var(--aktivitetFargeUtdanning);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.sykFravaerOgUtdanning:hover::before {
  background-color: var(--ax-meta-purple-400);
  border-color: var(--ax-meta-purple-400);
}

.utdanning {
  background-color: var(--aktivitetFargeUtdanning);
  border-color: var(--aktivitetFargeUtdanning);
}

.utdanning:hover {
  background-color: var(--ax-meta-purple-400);
  border-color: var(--ax-meta-purple-400);
}

.timerUtdanning {
  background-color: var(--ax-meta-purple-100);
  border-color: var(--ax-meta-purple-100);
}

.timerSykdom {
  background-color: var(--ax-warning-100);
  border-color: var(--ax-warning-100);
}

.ferie,
.fravaer {
  background-color: var(--aktivitetFargeFravaer);
  border-color: var(--aktivitetFargeFravaer);
}

.ferie:hover,
.fravaer:hover {
  background-color: var(--ax-success-400);
  border-color: var(--ax-success-400);
}

.timerFerie,
.timerFravaer {
  background-color: var(--ax-success-100);
  border-color: var(--ax-success-100);
}

.sykdom,
.sykOgFravaer {
  background-color: var(--aktivitetFargeSykdom);
  border-color: var(--aktivitetFargeSykdom);
}

.sykdom:hover,
.sykOgFravaer:hover {
  background-color: var(--ax-warning-400);
  border-color: var(--ax-warning-400);
}

.sykOgFravaer::after {
  content: "";
  position: absolute;
  right: -12.5%;
  top: -12.5%;
  background-color: var(--aktivitetFargeFravaer);
  border-color: var(--aktivitetFargeFravaer);
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

.sykOgFravaer:hover::after {
  background-color: var(--ax-success-400);
  border-color: var(--ax-success-400);
}

.knappKontainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--ax-space-8);
  margin-top: var(--ax-space-32);
}

.tekstSubtil {
  color: var(--ax-text-neutral-subtle);
}

@media screen and (min-width: 768px) {
  .ukedag {
    font-size: var(--ax-font-size-medium);
  }

  .datoKontainer {
    display: flex;
    align-items: center;
  }

  .header {
    font-size: var(--ax-font-size-heading-medium);
  }

  .redigeringsAlternativer {
    flex-direction: column;
    align-items: flex-end;
  }

  .redigeringsAlternativer a {
    margin-bottom: var(--ax-space-16);
  }

  .dato {
    width: calc(var(--dato-strl) * 2);
    height: calc(var(--dato-strl) * 2);
    font-size: var(--ax-font-size-large);
    line-height: var(--ax-font-size-large);
  }

  .readonly {
    padding-left: 6px;
  }

  .datoMedAktivitet {
    top: calc(var(--dato-strl) * 1.625);
    left: calc((calc(var(--dato-strl) * 2) - calc(var(--dato-strl) * 1.5)) / 2);
    border-radius: 0 0 10px 10px;
    padding-top: calc(var(--dato-strl) * 0.3);
    font-size: var(--ax-font-size-medium);
    width: calc(var(--dato-strl) * 1.5);
    height: calc(var(--dato-strl) * 1.4);
  }
}
