
.innsendtAccordionHeader :global(.aksel-heading) {
  flex: 1;
  display: flex;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
}

.innsendtPeriodeHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--ax-space-0);
}


.innsendtPeriodeDato {
color: var(--ax-text-neutral);
}
