.kvitteringInnhold {
  padding-left: var(--a-spacing-2);
  padding-right: var(--a-spacing-2);
}

.skrivUtKnappen {
  display: flex;
  gap: var(--a-spacing-4);
  margin: var(--a-spacing-8) 0;
  justify-content: center;
}

@media print {
  .kvitteringInnhold {
    display: block;
    animation: none;
  }

  .skrivUtKnappen {
    display: none;
  }

  :global(.navds-accordion__header) {
    display: none;
  }

  :global(#decorator-header) {
    display: none;
  }

  :global(#decorator-footer) {
    display: none;
  }
}
