.kvitteringTittel :global(.aksel-heading) {
  color: black;
}

.kvitteringInnhold {
  padding-left: var(--ax-space-8);
  padding-right: var(--ax-space-8);
  box-shadow: none;
  margin: 0;
}

.kvitteringInnhold :global(.aksel-accordion__content-inner) {
  padding: 0;
}

.skrivUtKnappen {
  display: flex;
  gap: var(--ax-space-16);
  margin: var(--ax-space-32) 0;
  justify-content: center;
}

@media print {
  .kvitteringInnhold {
    display: block;
    animation: none;
  }

  .skrivUtKnappen {
    display: none;
  }

  :global(.aksel-heading) {
    display: none;
  }

  :global(#decorator-header) {
    display: none;
  }

  :global(#decorator-footer) {
    display: none;
  }
}
