.serviceMessages {
  max-width: var(--app-max-width);
  padding: 0 var(--app-padding);
  margin: 0 auto;
}

.rapporteringContainer {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--ax-space-16) auto var(--ax-space-72);
}

.rapporteringHeader {
  margin-top: var(--ax-space-16);
  border-bottom: 5px solid var(--ax-success-500);
}

.rapporteringHeaderInnhold {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media print {
  .rapporteringHeaderInnhold h1::before {
    content: url("/arbeid/dagpenger/meldekort/favicon-32x32.png");
    margin-right: 10px;
    position: relative;
    top: 4px;
  }
}
