.aktivitetOppsummeringKontainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--ax-space-8);
}

.aktivitetOppsummeringListe {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  align-items: end;
  row-gap: var(--ax-space-8);
  margin: 0;
}

.aktivitetOppsummeringListe dt,
.aktivitetOppsummeringListe dd {
  align-self: stretch;
  margin: 0;
  padding: var(--ax-space-8) var(--ax-space-16);
  border-radius: 0.25rem;
}

.aktivitetOppsummeringListe dd {
  text-align: right;
}

.aktivitetOppsummeringListe dt:nth-of-type(1),
.aktivitetOppsummeringListe dd:nth-of-type(1) {
  background: var(--ax-bg-accent-moderate-pressed);
}

.aktivitetOppsummeringListe dt:nth-of-type(2),
.aktivitetOppsummeringListe dd:nth-of-type(2) {
  background: var(--ax-bg-warning-moderate-hover);
}

.aktivitetOppsummeringListe dt:nth-of-type(3),
.aktivitetOppsummeringListe dd:nth-of-type(3) {
  background: var(--ax-bg-success-moderate-pressed);
}

.aktivitetOppsummeringListe dt:nth-of-type(4),
.aktivitetOppsummeringListe dd:nth-of-type(4) {
  background: var(--ax-bg-meta-purple-moderate-pressed);
}

.aktivitetOppsummeringListe dt:nth-of-type(1),
.aktivitetOppsummeringListe dt:nth-of-type(2),
.aktivitetOppsummeringListe dt:nth-of-type(3),
.aktivitetOppsummeringListe dt:nth-of-type(4) {
  border-radius: 0.25rem 0 0 0.25rem;
}

.aktivitetOppsummeringListe dd:nth-of-type(1),
.aktivitetOppsummeringListe dd:nth-of-type(2),
.aktivitetOppsummeringListe dd:nth-of-type(3),
.aktivitetOppsummeringListe dd:nth-of-type(4) {
  border-radius: 0 0.25rem 0.25rem 0;
}
