.aktivitetOppsummeringKontainer {
  max-width: var(--app-max-width);
}

.aktivitetOppsummeringData {
  padding: var(--ax-space-8) var(--ax-space-16);
  margin: 0 calc(var(--ax-space-4) * -1) var(--ax-space-8);
  background-color: var(--aktivitetFargeArbeid);
  border: 1px solid var(--aktivitetFargeArbeid);
  border-radius: var(--ax-space-24);
}

.aktivitetOppsummeringData p {
  display: flex;
  justify-content: space-between;
  font-size: var(--ax-font-size-medium);
  margin: 0;
}

.arbeid {
  background-color: var(--aktivitetFargeArbeid);
  border-color: var(--aktivitetFargeArbeid);
}

.sykdom {
  background-color: var(--aktivitetFargeSykdom);
  border-color: var(--aktivitetFargeSykdom);
}

.ferie,
.fravaer {
  background-color: var(--aktivitetFargeFravaer);
  border-color: var(--aktivitetFargeFravaer);
}

.utdanning {
  background-color: var(--aktivitetFargeUtdanning);
  border-color: var(--aktivitetFargeUtdanning);
}

@media screen and (min-width: 768px) {
  .aktivitetOppsummeringData p {
    font-size: var(--ax-font-size-large);
  }
}
