.aktivitetOppsummeringKontainer {
  max-width: var(--app-max-width);
}

.aktivitetOppsummeringData {
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin: 0 calc(var(--a-spacing-1) * -1) var(--a-spacing-2);
  background-color: var(--a-blue-200);
  border: 1px solid var(--a-blue-200);
  border-radius: var(--a-spacing-6);
}

.aktivitetOppsummeringData p {
  display: flex;
  justify-content: space-between;
  font-size: var(--a-font-size-medium);
  margin: 0;
}

.arbeid {
  background-color: var(--a-blue-200);
  border-color: var(--a-blue-200);
}

.sykdom {
  background-color: var(--a-orange-200);
  border-color: var(--a-orange-200);
}

.ferie, .fravaer {
  background-color: var(--a-green-200);
  border-color: var(--a-green-200);
}

.utdanning {
  background-color: var(--a-purple-200);
  border-color: var(--a-purple-200);
}

@media screen and (min-width: 768px) {
  .aktivitetOppsummeringData p {
    font-size: var(--a-font-size-large);
  }
}
