.aktivitetOppsummeringKontainer {
  max-width: var(--app-max-width);
  margin: var(--a-spacing-8) auto 0;
}

.aktivitetOppsummeringData {
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin: 0 calc(var(--a-spacing-1) * -1) var(--a-spacing-2);
  background-color: var(--a-blue-200);
  border-radius: var(--a-spacing-6);
}

.aktivitetOppsummeringData p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.arbeid {
  background-color: var(--a-blue-200);
}

.sykdom {
  background-color: var(--a-orange-200);
}

.ferie {
  background-color: var(--a-green-200);
}
