.modal {
  width: 90vw;
  max-width: 500px;
}

.modalHeader::first-letter {
  text-transform: capitalize;
}

.aktivitetKontainer {
  display: flex;
  flex-direction: column;
}

.knappKontainer {
  display: flex;
  justify-content: center;
  gap: var(--ax-space-16);
  margin-top: var(--ax-space-32);
}

.registrertAktivitet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  border: 0;
  max-width: 300px;
  width: 100%;
  padding: var(--ax-space-8) var(--ax-space-16);
  margin: 0 calc(var(--ax-space-4) * -1) var(--ax-space-8);
  background-color: var(--aktivitetFargeArbeid);
  border-radius: var(--ax-space-24);
}

.feilmelding {
  margin-top: var(--ax-space-16);
}

.Arbeid {
  background-color: var(--aktivitetFargeArbeid);
}

.Syk {
  background-color: var(--aktivitetFargeSykdom);
}

.Ferie {
  background-color: var(--aktivitetFargeFravaer);
}

@media screen and (min-width: 768px) {
  .kalender {
    margin-left: calc(var(--ax-space-24) * -1);
    width: calc(var(--ax-space-48) + 100%);
  }

  .kalenderUkedag {
    font-size: var(--ax-font-size-medium);
  }

  .kalenderDato {
    width: 60px;
    height: 60px;
    font-size: var(--ax-font-size-large);
  }

  .aktivitetKontainer {
    min-width: 450px;
  }
}
