.rapportering-header {
  border-bottom: 5px solid var(--a-green-400);
}

.rapportering-header-innhold {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
}

.rapportering-header-innhold p {
  margin-bottom: 0;
}
