.rapportering-kontainer {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--a-spacing-4) auto var(--a-spacing-18);
}

.debug-kontainer {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto var(--a-spacing-8);
}

.rapportering-header {
  margin-top: var(--a-spacing-4);
  border-bottom: 5px solid var(--a-green-400);
}

.rapportering-header-innhold {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
}

.rapportering-header-innhold p {
  margin-bottom: 0;
}

.graa-bakgrunn {
  background-color: var(--a-bg-subtle);
  padding: var(--a-spacing-4);
  margin: var(--a-spacing-6) 0 var(--a-spacing-10);
  border-radius: var(--a-spacing-2);
}

.navigasjon-kontainer {
  display: flex;
  margin-top: var(--a-spacing-16);
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-2);
}

.navigasjon-kontainer > * {
  width: 100%;
  max-width: 350px;
}

.registert-meldeperiode-kontainer {
  margin-top: var(--a-spacing-10);
}

.registert-meldeperiode-kontainer > p {
  color: var(--a-text-subtle);
}

.hva-skal-jeg-rapportere-nav-link {
  display: flex;
  justify-content: center;
  margin-top: var(--a-spacing-20);
}

@media screen and (min-width: 768px) {
  .rapportering-kontainer {
    margin: var(--a-spacing-8) auto var(--a-spacing-18);
  }
}
