:root {
  --app-max-width: 768px;
  --app-padding: var(--a-spacing-4);
}

body {
  padding: 0;
  margin: 0;
}

.dp-rapportering-frontend {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
}

.rapportering-container {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--a-spacing-4) auto var(--a-spacing-18);
}

.debug-container {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto var(--a-spacing-8);
}

.rapportering-header {
  margin-top: var(--a-spacing-4);
  border-bottom: 5px solid var(--a-green-400);
}

.rapportering-header-innhold {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.rapportering-header-innhold p {
  margin-bottom: 0;
}

.graa-bakgrunn {
  background-color: var(--a-bg-subtle);
  padding: var(--a-spacing-4);
  margin: var(--a-spacing-6) 0 var(--a-spacing-10);
  border-radius: var(--a-spacing-2);
}

.navigasjon-container {
  display: flex;
  margin-top: var(--a-spacing-16);
  flex-direction: column;
  align-items: center;
  gap: var(--a-spacing-2);
}

.navigasjon-container > * {
  width: 100%;
  max-width: 350px;
}

.registert-meldeperiode-container {
  margin-top: var(--a-spacing-10);
}

.registert-meldeperiode-container > p {
  color: var(--a-text-subtle);
}

.hva-skal-jeg-rapportere-nav-link {
  display: flex;
  justify-content: center;
  margin-top: var(--a-spacing-20);
}

@media screen and (min-width: 768px) {
  .rapportering-container {
    margin: var(--a-spacing-8) auto var(--a-spacing-18);
  }
}

/* Voice-over focus */
.vo-fokus {
  outline: none;
}

.my-18 {
  margin: var(--a-spacing-18) 0;
}

.my-12 {
  margin: var(--a-spacing-12) 0;
}

.my-11 {
  margin: var(--a-spacing-11) 0;
}

.my-10 {
  margin: var(--a-spacing-10) 0;
}

.my-6 {
  margin: var(--a-spacing-6) 0;
}

.my-4 {
  margin: var(--a-spacing-4) 0;
}

.my-3 {
  margin: var(--a-spacing-3) 0;
}

.my-2 {
  margin: var(--a-spacing-2) 0;
}

.mx-auto {
  display: flex;
  margin: 0 auto;
  border: 2px solid red;
}

.tekst-subtil {
  color: var(--a-text-subtle);
}
