:root {
  --app-max-width: 768px;
  --app-padding: var(--a-spacing-4);
}

body {
  padding: 0;
  margin: 0;
}

.dp-rapportering-frontend {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
}

.my-12 {
  margin: var(--a-spacing-12) 0;
}

.my-11 {
  margin: var(--a-spacing-11) 0;
}

.my-10 {
  margin: var(--a-spacing-10) 0;
}

.my-6 {
  margin: var(--a-spacing-6) 0;
}

.my-4 {
  margin: var(--a-spacing-4) 0;
}

.my-3 {
  margin: var(--a-spacing-3) 0;
}

.my-2 {
  margin: var(--a-spacing-2) 0;
}

.subtile {
  color: var(--a-text-subtle);
}
