.checkbox {
  width: 100%;
  position: relative;
  margin-bottom: var(--ax-space-16);
}

.checkbox label span span:first-of-type {
  margin-bottom: var(--ax-space-16);
}

.checkbox .description {
  margin-top: var(--ax-space-16);
  color: var(--ax-text-neutral-subtle);
}

.checkbox::before {
  position: absolute;
  z-index: -10;
  content: "";
  left: -15px;
  top: 4px;
  width: calc(100% + 30px);
  height: 100%;
  border-radius: 8px;
}

.arbeid::before,
.checkbox::before {
  background-color: var(--aktivitetFargeArbeid);
}

.syk::before {
  background-color: var(--aktivitetFargeSykdom);
}

.ferie::before,
.fravaer::before {
  background-color: var(--aktivitetFargeFravaer);
}

.utdanning::before {
  background-color: var(--aktivitetFargeUtdanning);
}

.timer {
  padding: 0 var(--ax-space-32) var(--ax-space-16) var(--ax-space-32);
}

.prosentstilling button span {
  color: var(--ax-accent-800);
}
