.checkbox {
  width: 100%;
  position: relative;
  margin-bottom: var(--a-spacing-4);
}

.checkbox label span span:first-of-type {
  margin-bottom: var(--a-spacing-4);
}

.checkbox::before {
  position: absolute;
  z-index: -10;
  content: "";
  left: -15px;
  top: 4px;
  width: calc(100% + 30px);
  height: 100%;
  border-radius: 8px;
}

.arbeid::before,
.checkbox::before {
  background-color: var(--a-blue-200);
}

.syk::before {
  background-color: var(--a-orange-200);
}

.ferie::before,
.fravaer::before {
  background-color: var(--a-green-200);
}

.utdanning::before {
  background-color: var(--a-purple-200);
}

.timer {
  padding: 0 var(--a-spacing-8) var(--a-spacing-4) var(--a-spacing-8);
}

.prosentstilling button span {
  color: var(--a-blue-700);
}
