.container {
  display: flex;
  gap: var(--ax-space-16);
  margin: var(--ax-space-32) 0;
  justify-content: center;
}

.knapp:global(.aksel-button) {
  text-wrap: nowrap;
  padding: var(--ax-space-12) var(--ax-space-32);
  flex: 1;
}

@media screen and (min-width: 768px) {
  .container {
    justify-content: center;
  }

  .knapp:global(.aksel-button) {
    padding: var(--ax-space-16) var(--ax-space-48);
    flex: none;
  }

  .knapp:global(.aksel-button) span {
    font-size: var(--ax-font-size-large);
  }
}
