.rapporteringHeader {
  border-bottom: 5px solid var(--a-green-400);
}

.rapporteringHeaderInnhold {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: 0 auto;
}

.rapporteringHeaderInnhold p {
  margin-bottom: 0;
}

.rapporteringKontainer {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--a-spacing-8) auto var(--a-spacing-24);
}

.registertMeldeperiodeKontainer {
  margin-top: var(--a-spacing-12);
}

.navigasjonKontainer {
  margin-top: var(--a-spacing-20);
  display: flex;
  gap: var(--a-spacing-2);
  justify-content: space-between;
}

.debug {
  margin-top: var(--a-spacing-14);
}

.utbetalingsEstimat,
.feilmelding {
  margin-top: var(--a-spacing-10);
}

.registertMeldeperiodeKontainer > p {
  color: var(--a-text-subtle);
}

.klarteIkkeSendeInnFeilmelding {
  margin-top: var(--a-spacing-12);
}
