.timeTypeKontainer {
  display: flex;
  flex-direction: column;
  margin-top: var(--a-spacing-6);
}

.timeType {
  border: 0;
  width: 100%;
  min-width: 300px;
  cursor: pointer;
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin: 0 calc(var(--a-spacing-1) * -1) var(--a-spacing-2);
  background-color: var(--a-blue-200);
  border-radius: var(--a-spacing-6);
}

.aktivitetTypeArbeid {
  background-color: var(--a-blue-200);
}

.aktivitetTypeArbeid:hover {
  background-color: var(--a-blue-300);
}

.aktivitetTypeSyk {
  background-color: var(--a-orange-200);
}

.aktivitetTypeSyk:hover {
  background-color: var(--a-orange-300);
}

.aktivitetTypeFerie {
  background-color: var(--a-green-200);
}

.aktivitetTypeFerie:hover {
  background-color: var(--a-green-300);
}

.knappKontainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--a-spacing-2);
  margin-top: var(--a-spacing-8);
}

@media screen and (min-width: 768px) {
  .kalender {
    margin-left: calc(var(--a-spacing-6) * -1);
    width: calc(var(--a-spacing-12) + 100%);
  }

  .kalenderUkedag {
    font-size: var(--a-font-size-medium);
  }

  .kalenderDato {
    width: 60px;
    height: 60px;
    font-size: var(--a-font-size-large);
  }

  .timeTypeKontainer {
    min-width: 450px;
  }

  .timeType {
    width: 50%;
  }
}
