.rapporteringKontainer {
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--a-spacing-8) auto var(--a-spacing-24);
}

.graaBakgrunn {
  background-color: var(--a-surface-subtle);
  padding-right: var(--a-spacing-4);
  padding-left: var(--a-spacing-4);
  padding-bottom: var(--a-spacing-2);
  margin-bottom: var(--a-spacing-10);
}

.registertMeldeperiodeKontainer {
  margin-top: var(--a-spacing-10);
}

.navigasjonKontainer {
  margin-top: var(--a-spacing-16);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
  justify-content: space-around;
  padding-left: var(--a-spacing-5);
  padding-right: var(--a-spacing-5);
  box-sizing: border-box;
}

.utbetalingsEstimat,
.feilmelding {
  margin-top: var(--a-spacing-10);
}

.registertMeldeperiodeKontainer > p {
  color: var(--a-text-subtle);
}

.klarteIkkeSendeInnFeilmelding {
  margin-top: var(--a-spacing-12);
}
