.container {
  position: relative;
  border: 1px solid var(--ax-meta-purple-600);
  border-radius: 4px;
  background-color: var(--ax-meta-purple-200);
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--ax-space-40) auto var(--ax-space-32);
}

.tag {
  position: absolute;
  top: -16px;
  background-color: white;
}
