.container {
  position: relative;
  border: 1px solid var(--a-purple-500);
  border-radius: 4px;
  background-color: var(--a-purple-100);
  max-width: var(--app-max-width);
  padding: var(--app-padding);
  margin: var(--a-spacing-10) auto var(--a-spacing-8);
}

.tag {
  position: absolute;
  top: -16px;
  background-color: white;
}
