name: Build and deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/build-test.yaml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
      push_image: true
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  build-demo:
    uses: ./.github/workflows/build-test.yaml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
      push_image: true
      build_args: RUNTIME_ENVIRONMENT=demo
    secrets:
      READER_TOKEN: ${{ secrets.READER_TOKEN }}
      NAIS_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  cdn-upload-demo:
    name: Upload static files (demo)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
       - uses: actions/checkout@v6
       - name: Build static files
         uses: docker/build-push-action@v5
         with:
           target: export
           outputs: type=local,dest=build
           secrets: NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
       - name: Upload static files
         uses: nais/deploy/actions/cdn-upload/v2@master
         with:
           team: teamdagpenger
           source: ./build/client
           destination: '/dp-rapportering-frontend/'
           identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
           project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-demo:
    needs: [build-demo, cdn-upload-demo]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ needs.build-demo.outputs.image }},githubSha=${{ github.sha }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.demo.yaml
          VARS: .nais/vars-demo.yaml
          PRINT_PAYLOAD: true

  deploy-dev:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ needs.build.outputs.image }},githubSha=${{ github.sha }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.yaml
          VARS: .nais/vars-dev.yaml
          PRINT_PAYLOAD: true

  deploy-prod:
    needs: [build]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ needs.build.outputs.image }},githubSha=${{ github.sha }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/nais.yaml
          VARS: .nais/vars-prod.yaml
          PRINT_PAYLOAD: true

  
